@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Work+Sans&display=swap');

:root{
    --primar-Color: #505050;
}
* {
    margin: 0;
    font-family: 'inter';
}

body {
    /* background-color: #F4F4F4; */
    background-color: var( --primar-Color)
}

.container1 {
    background-color: #6943FF;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container1 form {
    display: flex;
    flex-direction: column;
}

.container1 p {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 30px;
}

#user-inpt {
    width: 50px;
    min-width: 60px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    background-color: #6943FF;
    border: solid 2px #B295FF;
    outline: none;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    transition: width 0.2s ease;
}


#conver-el {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    color: #3D3D3D;
    cursor: pointer;
}

#conver-el:active {
    background-color: #fef7f7;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* to hide count in input user-inpt */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container2 div {
    width: 89%;
    height: 20px;
    margin: 7px;
    padding: 50px 30px;
    background-color: white;
    text-align: center;
    border-radius: 2px;
}

.container2 div h5 {
    color: #5A537B;
    font-weight: 700;
    font-size: 22px;
}

.measure {
    margin-top: -18px;
}

#Length-el, #Volume-el, #mass-el{
    margin-top: 15px;
    color: #605e5e;
    font-size: 18px;
}

.container2 div p {
    margin-top: 10px;
}